<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @idea.post_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @idea.content %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
