<table>
  <thead>
    <tr>
      <th>Description</th>
      <!--
      <th>Image one</th>
      <th>Image two</th>
      -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.description %></td>
        <td><%#= post.image_one.filename %></td>
        <td><%#= post.image_two.filename %></td>
        <td><%= link_to 'Show', visitor_path(post) %></td>
        <td><%= link_to 'Edit', visitors_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
