<%= form_for @post.idea do |form| %>

  <% if @post.idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @post.idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Post ID' %>
    <%= form.text_field :post_id, value: @post.id %>
  </div>

  <%#= @post.id %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, value: @post.idea.content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= form_for @post.task do |form| %>

  <% if @post.task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @post.task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Post ID' %>
    <%= form.text_field :post_id, value: @post.id %>
  </div>

  <%#= @post.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, value: @post.task.name %>
  </div>


  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, value: @post.task.content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

