<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @task.post_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
