<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image_one %>
    <%# if form.image_one.attached? %>
      <%#= image_tag(form.object.image_one) %>
      <%= form.file_field :image_one %>
    <%# else %>
      <%#= form.file_field :image_one %>
    <%# end %>
  </div>

  <div class="field">
    <%= form.label :image_two %>
    <%# if form.object.image_two %>
      <%#= image_tag(form.object.image_two) %>
      <%#= form.file_field :image_two %>
    <%# else %>
      <%= form.file_field :image_two %>
    <%# end %>
  </div>

  <div class="field">
    <%#= form.label :url_image %>
    <%#= form.text_area :url_image, placeholder:'Ingresar foto de mapa' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
