<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image one:</strong>
  <%= image_tag(@post.image_one) %>
</p>

<p>
  <strong>Image two:</strong>
  <%= image_tag(@post.image_two) %>
</p>

<p>
  <strong>Url Image:</strong>
  <%#= image_tag(@post.url_image) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Go to idea', edit_idea_path(@post) %>
